@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Sen:wght@400..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1525px;
  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.wrapper p, .wrapper ul, .wrapper a {
  font-weight: 400;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  font-size: 16px;
}
.wrapper button, .wrapper svg, .wrapper li {
  cursor: pointer;
}
.wrapper a {
  text-decoration: none;
}
.wrapper button {
  padding: 16px 48px 16px 48px;
  border: none;
  color: #232536;
  font-weight: 700;
  font-size: 18px;
  background-color: #FFD050;
}
.wrapper nav {
  width: 100%;
  display: flex;
  background-color: #fff;
  padding: 30px 80px 30px 80px;
  align-items: center;
  justify-content: space-between;
  background: #232536;
}
.wrapper nav div {
  display: flex;
  align-items: center;
  gap: 32px;
}
.wrapper nav div ul {
  display: flex;
  list-style: none;
  gap: 30px;
}
.wrapper nav div ul li a {
  color: #fff;
}
.wrapper nav div button {
  padding: 16px 48px 16px 48px;
  background-color: white;
  color: #232536;
  font-weight: 700;
  font-size: 18px;
}
.wrapper header {
  padding: 128px 80px 128px 80px;
  background-image: url(./images/header_bg.png);
  background-size: cover;
}
.wrapper header .text_header {
  width: 854px;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  color: white;
}
.wrapper header .text_header h1 {
  font-size: 56px;
  line-height: 64px;
}
.wrapper header .text_header button {
  padding: 16px 48px 16px 48px;
  border: none;
  background: #FFD050;
  color: #232536;
  font-weight: 700;
  font-size: 18px;
}
.wrapper .content {
  padding: 128px 80px 128px 80px;
  display: flex;
  justify-content: space-between;
}
.wrapper .content .Featured_post {
  width: 733px;
  height: 804px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper .content .Featured_post .feature_div {
  height: 724px;
  border: 1px solid rgba(109, 110, 118, 0.799);
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: center;
}
.wrapper .content .Featured_post .feature_div .feature_div_img {
  width: 670px;
  height: 352px;
  background-image: url(./images/home_feauture.png);
  background-size: cover;
}
.wrapper .content .Featured_post .feature_div .feature_div_text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 15px;
  align-items: start;
}
.wrapper .content .Featured_post .feature_div .feature_div_text p {
  color: rgb(109, 110, 118);
}
.wrapper .content .all_posts {
  width: 528px;
  height: 805px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 15px;
}
.wrapper .content .all_posts .text_all_post {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .content .all_posts .all_items {
  width: 100%;
  height: 181px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.wrapper .content .all_posts .all_items h2 {
  width: 369px;
  font-size: 24px;
  line-height: 32px;
}
.wrapper .content .all_items:hover {
  background: rgb(251, 246, 234);
  cursor: pointer;
}
.wrapper .rainbow {
  display: flex;
  flex-direction: column;
  padding: 28px 80px 28px 80px;
}
.wrapper .rainbow .three_color {
  display: flex;
}
.wrapper .rainbow .three_color .oq, .wrapper .rainbow .three_color .kok {
  width: 282px;
  height: 23px;
  background: rgb(89, 46, 169);
}
.wrapper .rainbow .three_color .sariq {
  width: 843px;
  height: 23px;
  background: rgb(255, 208, 80);
}
.wrapper .rainbow .three_color .oq {
  background-color: #fff;
}
.wrapper .rainbow .home_menu {
  height: 500px;
  display: flex;
  background: rgb(244, 240, 248);
  padding: 100px;
  justify-content: space-between;
}
.wrapper .rainbow .home_menu .left_menu {
  width: 550px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.wrapper .rainbow .home_menu .left_menu h1 {
  font-size: 36px;
  line-height: 48px;
}
.wrapper .rainbow .home_menu .left_menu a {
  font-weight: 700;
}
.wrapper .rainbow .home_menu .right_menu {
  width: 550px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.wrapper .rainbow .home_menu .right_menu h1 {
  font-size: 36px;
  line-height: 48px;
}
.wrapper .rainbow .home_menu .right_menu a {
  font-weight: 700;
}
.wrapper .category {
  padding: 28px 80px 28px 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.wrapper .category .category_items {
  display: flex;
  justify-content: space-between;
}
.wrapper .category .category_items .items_category {
  width: 296px;
  height: 228px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 32px;
  border: 1px solid rgb(109, 110, 118);
  align-items: start;
  justify-content: space-between;
}
.wrapper .category .category_items .items_category .img_div_category, .wrapper .category .category_items .items_category .img_div_category-2, .wrapper .category .category_items .items_category .img_div_category-3, .wrapper .category .category_items .items_category .img_div_category-4 {
  width: 48px;
  height: 48px;
  background-image: url(./images/home-icon.png);
  background-color: rgb(251, 246, 234);
  border-radius: 12px;
  background-repeat: no-repeat;
  background-position: center center;
}
.wrapper .category .category_items .items_category .img_div_category-2 {
  background-image: url(./images/raketa.png);
}
.wrapper .category .category_items .items_category .img_div_category-3 {
  background-image: url(./images/economy.png);
}
.wrapper .category .category_items .items_category .img_div_category-4 {
  background-image: url(./images/tech.png);
}
.wrapper .category .category_items .items_category h2 {
  font-size: 20px;
}
.wrapper .category .category_items .items_category p {
  display: flex;
  align-items: start;
  line-height: 28px;
  color: rgb(109, 110, 118);
  text-align: start;
}
.wrapper .category .category_items .items_category:hover {
  background: rgb(255, 208, 80);
}
.wrapper .friends {
  padding: 120px 80px 28px 80px;
  display: flex;
  align-items: end;
  justify-content: end;
  background-image: url(./images/friends.png);
  background-repeat: no-repeat;
  background-position: 80px;
}
.wrapper .friends .text_friends {
  width: 758px;
  height: 612px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 80px;
  justify-content: space-between;
  align-items: start;
}
.wrapper .friends .text_friends h1 {
  font-size: 48px;
  line-height: 64px;
}
.wrapper .friends .text_friends .php {
  color: rgb(109, 110, 118);
  line-height: 28px;
}
.wrapper .team {
  padding: 120px 80px 28px 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.wrapper .team .team_items {
  display: flex;
  justify-content: space-between;
}
.wrapper .team .team_items .items_team_div {
  width: 296px;
  height: 324px;
  background: rgb(244, 244, 244);
  padding: 35px 40px 35px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrapper .team .team_items .items_team_div:hover {
  background: rgb(251, 246, 234);
}
.wrapper .logoes {
  display: flex;
  padding: 100px 80px 28px 80px;
  align-items: center;
  justify-content: space-between;
}
.wrapper .logoes img {
  cursor: pointer;
}
.wrapper .comments {
  display: flex;
  padding: 100px 80px 28px 80px;
  justify-content: center;
  align-items: center;
}
.wrapper .comments .fikr {
  width: 100%;
  height: 464px;
  display: flex;
  background: rgb(251, 246, 234);
}
.wrapper .comments .fikr .left_comments {
  width: 570px;
  height: 464px;
  border-right: 1px solid rgb(109, 110, 118);
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.wrapper .comments .fikr .left_comments h1 {
  font-size: 36px;
  line-height: 48px;
}
.wrapper .comments .fikr .left_comments p {
  font-size: 16px;
  line-height: 28px;
}
.wrapper .comments .fikr .right_comments {
  width: 710px;
  height: 100%;
  padding: 100px 100px 50px 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper .comments .fikr .right_comments .profil {
  display: flex;
  justify-content: space-between;
}
.wrapper .comments .fikr .right_comments .profil .svg_next {
  display: flex;
  gap: 48px;
}
.wrapper .comments .fikr .right_comments .profil .svg_next svg {
  width: 48px;
  height: 48px;
  fill: white;
}
.wrapper .comments .fikr .right_comments .profil .svg_next svg:hover {
  fill: rgb(35, 37, 54);
}
.wrapper .story {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.wrapper .story .story_text {
  width: 414px;
  height: 256px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
.wrapper .story .story_text p {
  color: rgb(109, 110, 118);
}
.wrapper footer {
  display: flex;
  flex-direction: column;
  padding: 0px 80px 28px 80px;
  background-color: #232536;
}
.wrapper footer .top {
  height: 256px;
  background: #2E3040;
  display: flex;
  align-items: start;
  padding: 90px;
  justify-content: space-between;
}
.wrapper footer .top h1 {
  color: white;
  font-size: 36px;
  line-height: 48px;
}
.wrapper footer .top div {
  display: flex;
  gap: 20px;
}
.wrapper footer .top div input {
  width: 323px;
  height: 56px;
  background: #6D6E76;
  border: 2px solid #232536;
  padding: 15px;
  color: white;
}
.wrapper footer .top div ::-moz-placeholder {
  color: #9e9e9e;
}
.wrapper footer .top div :-ms-input-placeholder {
  color: #9e9e9e;
}
.wrapper footer .top div ::placeholder {
  color: #9e9e9e;
}
.wrapper footer .bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  color: #FFFFFF;
}
.wrapper footer .bottom p {
  width: 350px;
  line-height: 28px;
}
.wrapper footer .bottom .svg {
  display: flex;
  align-items: center;
  gap: 20px;
}
.wrapper footer .bottom .svg svg {
  fill: #6D6E76;
}/*# sourceMappingURL=main.css.map */